
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25);
  --font-family: "Poppins", sans-serif;
  --color-brand-50: #ecf3ff;
  --color-brand-500: #465fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-lato: var(--font-lato);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6;
    --foreground: #00000;
  }
}

body {
  

  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  font-size: 1rem;
}

.menu-item-active {
    background-color: var(--color-brand-50);
    color: var(--color-brand-500);
}
select{
   display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
  border: 1px solid #eee;
  font: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
}
.backdrop{
    background: #000000cc;
}